src/main/resources/xml/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="books">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="book" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="price">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="86"/>
        <xs:enumeration value="92"/>
        <xs:enumeration value="98"/>
        <xs:enumeration value="124"/>
        <xs:enumeration value="128"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element ref="price"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="author" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="name">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="斗破苍穹"/>
        <xs:enumeration value="缥缈之旅"/>
        <xs:enumeration value="诛仙"/>
        <xs:enumeration value="鬼吹灯"/>
        <xs:enumeration value="神墓"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
</xs:schema>